.alert {
	position: fixed;
	z-index: $z-layer-5;
	left: 0;
	top: 0;
	right: 0;
	padding: $padd-md;
	box-shadow: 0 -5px 21px 12px rgba(0, 0, 0, .4);
	@include animation(alert 3s linear);

	&.success {
		background: $clr-success;
	}

	&.error {
		background: $clr-danger;
	}
}

.close-alert {
	padding: 0 $padd-h-xs;
	line-height: 0.8;
}

@keyframes alert {
	0% {
		@include transform(translateY(-100%));
	}

	6% {
		@include transform(none);
	}

	100% {
		opacity: 1;
	}
}
