/////////////////
// Progressbar //
/////////////////

// Affects all progress and meter elements.

// Variables
$progressbar-height:        40px;
$progressbar-bg:            $clr-bg-5;
$progressbar-start:         darken($clr-prim, 15%);
$progressbar-end:           lighten($progressbar-start, 30%);

// Styles
progress,
meter {
	// -webkit-appearance: none;
	// -moz-appearance: none;
	// appearance: none;
	display: block;
	border: none;
	width: 100%;
	max-width: 600px;
	height: $progressbar-height;
	background: $progressbar-bg;
	border-radius: 9999px;
}

progress::-webkit-progress-bar,
meter::-webkit-meter-bar {
	background: $progressbar-bg;
	border-radius: 9999px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .2) inset;
}

progress[value]::-webkit-progress-value,
meter[value]::-webkit-meter-optimum-value {
	background-image:
		linear-gradient(-45deg, transparent 33%, hsla(0, 0%, 0%, .1) 33%, hsla(0, 0%, 0%, .1) 66%, transparent 66%),
		linear-gradient(to top, hsla(0, 0%, 0%, .5), hsla(0, 0%, 0%, 0) 50%, hsla(0, 0%, 0%, 0) 50%),
		linear-gradient(to right, $progressbar-start, $progressbar-end);
	background-size: $progressbar-height * 2 $progressbar-height, 100% 100%, 100% 100%;
	border-radius: 9999px;
	transition: 0.5s ease-out;
}

progress[value]::-moz-progress-bar,
meter[value]::-moz-meter-bar {
	background-image:
		linear-gradient(-45deg, transparent 33%, hsla(0, 0%, 0%, .1) 33%, hsla(0, 0%, 0%, .1) 66%, transparent 66%),
		linear-gradient(to top, hsla(0, 0%, 0%, .5), hsla(0, 0%, 0%, 0) 50%, hsla(0, 0%, 0%, 0) 50%),
		linear-gradient(to right, $progressbar-start, $progressbar-end);
	background-size: $progressbar-height * 2 $progressbar-height, 100% 100%, 100% 100%;
	border-radius: 9999px;
	transition: 0.5s ease-out;
}
