// ============
//  TYPOGRAPHY
// ============

// Typefaces
$type-body:             "Helvetica Neue", Helvetica, Arial, sans-serif;
$type-heading:          "Times New Roman", serif;
$type-subheading:       "Times New Roman", serif;
$type-monospace:        "Courier New", monospace;



// Font Sizes
// Always relative values
$font-xs:               .7rem;
$font-sm:               .85rem;
$font-md:               1rem;
$font-lg:               1.2rem;
$font-xl:               1.44rem;
$font-xxl:              1.7rem;
$font-xxxl:              2rem;
